@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.fs-40 {
    font-size: 4rem !important;
}
.lh-40 {
    line-height: 4rem;
}
.scrolled-header {
    .navbar{
        background: #fff !important;   
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        .navbar-brand {
            color: #000 !important;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #000 !important; 
                }
            }
        }
    }
    .navbar-toggler {
        @media screen and (max-width: 991px) {
            color: #000 !important;
        }
    }
}
@keyframes fadeInDown{
    0%{ 
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}

.section-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}
.page-title {
    padding-top: 130px;
    padding-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.numbered-list {
    list-style: none;
    padding-left: 0;
    li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        span {
            width: 30px;
            height: 30px;
            background: #49ccd4;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            line-height: 30px;
            margin-right: 10px;
        }
    }
}
.section-dark-bg-blue {
    position: relative;
    overflow: hidden;
    background-color: #072e33;
    color: #fff;
}