@import  '../../../assets/bootstrap//boostrap-variables';
.card-wrapper {
    // box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
    transition: all .5s;
    padding: 30px;
    // border: 1.5px solid #eeeeee;
    box-shadow: 0px 2px 10px 0px rgba(146, 184, 255, 0.2);
    position: relative;
     &:hover {
        color: $white;
        transform: translateY(-10px);
        &::before { 
            height: 100%;
        }
        p {
            color: $white;
        }
        .icon {
            background-color: $white;
            border-style: solid;
        }
        span {
            color: $white;
            opacity: 0.2;
        }
     }
     &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        transition: all .5s;
        background: $primary;
        z-index: -1;
     }
    .icon {
        color: $primary;
        font-size: 25px;
        width: 65px;
        border: 1px dashed $primary;
        height: 65px;
        line-height: 65px;
        position: relative;
        border-radius: 3px;
        transition: all .5s;
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        margin-top: 25px;
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 20px;
    }
    p {
        font-size: 16px;
        color: #848484;
        line-height: 26px;
        font-weight: 300;
    }
    span {
        bottom: 0;
        color: $black;
        opacity: 0.02;
        font-size: 200px;
        line-height: 180px;
        position: absolute;
        right: 0;
        transition: var(--transition);
    }
}
.btn-wrapper {
    position: relative;
    top: -10px;
}