.icon-size{
    font-size: 50px;
    margin-bottom: 20px;
}
.icon{
    text-align: center;
    padding: 20px;      
}
.icon-p{
    font-size:17px;
    
}
.box {
    border: 1px dashed #e5e5e5;
    border-radius: 8px;
}
.image-wrapper img{
    height: 350px;
    width: 100%;
    object-fit: cover;
}
