<app-page-title [title]="title"></app-page-title>
<!-- <app-page-title [title]="title" (newTitle)="changeTitle($event)"></app-page-title> -->

    <section class="py-5 border-bottom-5 border-primary">
        <div class="container my-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <app-section-title titlePreffix="Our" titleSuffix="Company" titleAlign="left"></app-section-title>
                <p>The industry veterans have joined forces to create an IT solutions company to help clients with staff accommodation while they focus on their core business.
                </p>
                <p>We want to use our experience and expertise to develop smart solutions, enhance the professional skills of young talent and provide the best talent for the IT industry.</p>
            </div>
            <div class="col-md-6 mb-3">
                <div class="image-wrapper">
                    <img src="../../assets/images/about1.jpg">
                </div>

            </div>
        </div>
        </div>
    </section>

    <section class="py-md-5 bg-secondary border-bottom-5 border-primary">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="image-wrapper">
                        <img src="../../assets/images/about2.jpg">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="ps-md-5 pt-md-0 pt-5">
                        <app-section-title titlePreffix="Our" titleSuffix="Approach" titleAlign="left"></app-section-title>
                        <h4>Skills training</h4>
                        <p>Provide the best training from industry experts, including complementary services such as online coding test preparation.</p>
                        <h4>Hands-on experience
                            on live projects </h4>
                        <p>Work on live projects and gain experience of the end-to-end project development lifecycle, including agile development methodology.</p>
                        <h4>Placement assistance</h4>
                        <p>Help with CVs and mock interviews to prepare for interviews.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 border-bottom-5 border-primary">
        <div class="container my-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div>
                    <app-section-title titlePreffix="Why" titleSuffix="we are Best ?"
                        titleAlign="left"></app-section-title>

                    <p>We believe in holistic development in order to meet the expectations of the industry and compete with
                        experts to fill the vacancies.</p>

                    <p>We take responsibility for building each individual's career in the IT industry.</p>

                    <p>We provide timely feedback and mentoring, and track each individual's progress.</p>

                    <p>We focus on both the technical and soft skills of our students and staff.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="image-wrapper">
                    <img src="../../assets/images/about3.jpg">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="py-5 bg-secondary">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="box p-3">
                    <i class="bi bi-hand-thumbs-up icon-size text-primary"></i>
                    <h5 class="text-center">Trusted company </h5>
                    <p class="icon-p">We deliver email marketing campaigns to target audiences.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="box p-3">
                    <i class="bi bi-arrow-up-left-circle icon-size text-primary"></i>
                    <h5 class="text-center">Professional work</h5>
                    <p class="icon-p">We also help clients with their social media strategy.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="box p-3">
                    <i class="bi bi-info-circle icon-size text-primary"></i>
                    <h5 class="text-center">Help any time</h5>
                    <p class="icon-p">We are always there to support your business.</p>
                </div>
            </div>
        </div>
    </section>