<app-page-title [title]="title"></app-page-title>
<!-- <app-page-title [title]="title" (newTitle)="changeTitle($event)"></app-page-title> -->

    <section class="py-5 border-bottom-5 border-primary">
        <div class="container my-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <app-section-title titlePreffix="Our" titleSuffix="Company" titleAlign="left"></app-section-title>
                <p>The industry veterans have joined hands to start a software development company with an intent to
                    serve the IT industry in various ways.</p>
                <p>We would like to utilize our experience and expertise to develop smart solutions, upgrade
                    professional skills of young talent and make the best talent available for the IT industry.</p>
            </div>
            <div class="col-md-6 mb-3">
                <div class="image-wrapper">
                    <img src="../../assets/images/about1.jpg">
                </div>

            </div>
        </div>
        </div>
    </section>

    <section class="py-md-5 bg-secondary border-bottom-5 border-primary">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="image-wrapper">
                        <img src="../../assets/images/about2.jpg">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="ps-md-5 pt-md-0 pt-5">
                        <app-section-title titlePreffix="Our" titleSuffix="Approach" titleAlign="left"></app-section-title>
                        <h4>Skills training</h4>
                        <p>Provide best training by industry experts which includes complementary services like online
                            coding test preparation.</p>
                        <h4>Hands on experience
                            on live projects </h4>
                        <p>Provide exposure to work on live projects and gain experience of end to end project development
                            lifecycle including agile development methodology.</p>
                        <h4>Placement assistance</h4>
                        <p>Provide assistance to prepare resume and also take mock interviews to prepare for the interviews.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 border-bottom-5 border-primary">
        <div class="container my-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div>
                    <app-section-title titlePreffix="Why" titleSuffix="we are Best ?"
                        titleAlign="left"></app-section-title>

                    <p>We believe in the holistic development to match the expectations of the industry and compete with
                        experts for the job openings.</p>

                    <p>We take responsibility of building career of each individual in the IT industry.</p>

                    <p>We provide timely feedback and mentoring and also track the progress of each individual</p>

                    <p>We focus on technical as well as soft skills of our students and employees.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="image-wrapper">
                    <img src="../../assets/images/about3.jpg">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="py-5 bg-secondary">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="box p-3">
                    <i class="bi bi-hand-thumbs-up icon-size text-primary"></i>
                    <h5 class="text-center">Trusted company </h5>
                    <p class="icon-p">We deliver email marketing campaigns to audience.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="box p-3">
                    <i class="bi bi-arrow-up-left-circle icon-size text-primary"></i>
                    <h5 class="text-center">Professional work</h5>
                    <p class="icon-p">We also help our clients with social media strategy.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="box p-3">
                    <i class="bi bi-info-circle icon-size text-primary"></i>
                    <h5 class="text-center">Help any time</h5>
                    <p class="icon-p">We never fail for support for your business anywhere.</p>
                </div>
            </div>
        </div>
    </section>