<nav  class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand text-white" routerLink="/"> 
			<img src="assets/images/logo.svg" [src]="brandLogo" alt="First Quad Tech Solutions"/>
        </a>
        <button  type="button" class="navbar-toggler text-black border-0" (click)="toggleMenu()">
            <span  class="burger-menu">
                <i class="bi bi-list"></i>
            </span>
        </button>
        <div  id="navbarSupportedContent" class="collapse navbar-collapse" [class.d-block]="showMenu">
            <ul  class="navbar-nav ms-auto">
                <li  routerLink="/" class="nav-item" (click)="toggleMenu()">
                    <span  class="nav-link">Home</span>
                </li>
                <li routerLink="/about" class="nav-item" (click)="toggleMenu()">
                    <span  class="nav-link" >About</span>
                </li>
                <!-- <li  class="nav-item">
                    <span  class="nav-link" (click)="toggleMenu()">Team</span>
                </li> -->
                <li  class="nav-item dropdown">
                    <span  class="nav-link" routerLink="/services" (click)="toggleMenu()">Services <i class="bi bi-chevron-down"></i></span>
                    <ul class="dropdown-item py-3">
                        <li>
                            <a href="javascript:void(0)" routerLink="/services/it-solutions">Software Solutions</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/services/professional-training">Professional Trainings</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/services/employment-solutions">Employment Solutions</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/services/contract-staffing">Staffing Services</a>
                        </li>
                    </ul>
                </li>
                <!-- <li  class="nav-item" routerLink="/work" (click)="toggleMenu()">
                    <span  class="nav-link">Work</span>
                </li> -->
                <li  class="nav-item" routerLink="/contact" >
                    <span  class="nav-link" (click)="toggleMenu()">Contact</span>

                </li>
            </ul>
        </div>
    </div>
</nav>