<app-page-title [title]="'Career Mentoring'"></app-page-title>
<section>
    <div class="container my-5">
        <app-section-title class="pb-3" titlePreffix="Our" titleSuffix="Mission" titleAlign="center"></app-section-title>
        <div class="row">
            <div class="col-md-6">
                <h3>It’s a classic dilemma: To get a job, you need experience. But to gain experience, you need a job.
                    <span class="text-primary">So, what’s the solution?</span>
                </h3>
                <p>Internships are one of the main routes to work experience. Yet they are infamously hard to secure
                    without prior work experience, relocating, or having the right contacts.</p>
                <p>Finding the right internship as a college student has become one of the most challenging tasks today.
                    As most employers lookout for candidates who have some prior work experience, college students can’t
                    ignore the benefits and experience of internships. This is all the more crucial for students in
                    computer science (CS), information technology (IT), and related streams. </p>
                <p>Our unique platform ensures intelligent, rapid matches between students and companies. we trains
                    students during the internship, and unlocks a global network of relationships.</p>
            </div>
            <div class="col-md-6">
                <img src="assets/images/professional.jpg" width="100%" />
            </div>
        </div>
    </div>
</section>
<section class="training-patch py-5">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-md-8 m-auto">
                <h1>Give Yourself an <span class="text-white"> Unbeatable Advantage</span></h1>
                <p class="fs-5">The need for work experience is essential, but getting a job can be tough. You need
                    experience, but to gain experience, you need a job. Internships are competitive, with 80% of
                    employers
                    considering it a critical factor for recent graduates. So, what do you do?</p>
                    <a routerLink="/contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/professional2.jpg" width="100%" />
            </div>
            <div class="col-md-6">
                <app-section-title titlePreffix="Start Your Career Journey with" titleSuffix="First Quad Professional Training!" titleAlign="left"></app-section-title>
                <p>Professional development programs are trainings, courses and classes that help employees learn new skills or maintain a certification or license. These programs are available for professionals in nearly every field and include the following types:</p>
                <ul>
                    <li>On-the-job training</li>
                    <li>Workshops</li>
                    <li>Seminars</li>
                    <li>Work on live projects</li>
                </ul>
            </div>
            
        </div>
    </div>
</section>