.contact-one{
    font-size: x-large;
}

.icon-wrapper{
      
        border-radius: 50%;
        border: 1px solid;
        font-size: 20px;
        padding: 5px;
}
.icon-logo{
    padding: 10px;
    font-size:40px;
}


