.contact-one{
    font-size: x-large;
}

.icon-wrapper{
      
        border-radius: 50%;
        border: 1px solid;
        font-size: 20px;
        padding: 5px;
}
.icon-logo{
    padding: 5px;
    font-size: 20px;
    border-radius: 70px;
    border: 1px solid;
    margin: 20px;
}
.contact-two{
   padding: 50px;
   
}


