<app-page-title [title]="title"></app-page-title>
<section>
        <div class="text-center py-5 contact-one">
            <app-section-title titlePreffix="GET" titleSuffix="IN TOUCH" titleAlign="center"></app-section-title>
        </div>
        <div class="py-3 text-center ">
            <i class="bi bi-telephone icon-wrapper align-items-start"></i>
            <strong class="p-3">MOBILE NUMBER : +74512364889</strong>
    </div>
    <div class="py-3 text-center">
        <i class="bi bi-globe icon-wrapper align-items-start"></i>
            <strong class="p-3">WEB SITE ADDRESS: <a href="https://www.firstquadtechsolutions.com"> www.firstquadtechsolutions.com </a> </strong>
    </div>
    <div class="py-3 text-center">
        <i class="bi bi-envelope icon-wrapper align-items-start"></i>
            <strong class="p-3">EMAIL ADDRESS : contact@firstquadtechsolutions.com </strong>
    </div>
</section>

<section>
    <div class="text-center py-5 contact-two">
        <i class="bi bi-instagram icon-logo "></i>
        <i class="bi bi-facebook icon-logo "></i>
        <i class="bi bi-linkedin icon-logo "></i>
    </div>


    <div class="text-center">
        <strong>OFFICE ADDRESS</strong>
        <p>BANER</p>
    </div>
    

</section>