<app-page-title [title]="'Software Solutions'"></app-page-title>

<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12 mb-5">
                <app-section-title titlePreffix="Prominent" titleSuffix="Software Solutions"
                    titleAlign="center"></app-section-title>
            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-window text-primary"></i>
                    </div>
                    <div class="content">
                        <h2 class="text-primary">Application Development</h2>
                        <p>We provide application development services to reduce operational costs while maximising efficiency and improving business agility.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-phone text-primary"></i>
                    </div>
                    <div>
                        <h2 class="text-primary">Responsive Web Design & Development</h2>
                        <p>Responsive web design and development is an approach to building websites that ensures an optimal viewing and interaction experience across a wide range of devices, from desktop computers to mobile phones.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-person-badge text-primary"></i>
                    </div>
                    <div>
                        <h2 class="text-primary">IT Consulting</h2>
                        <p>Advising organisations on technology strategies, solutions and best practices to achieve their business goals.
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-globe text-primary"></i>
                    </div>
                    <div>
                        <h2 class="text-primary">Customization according to market and user needs</h2>
                        <p>Customisation to meet market and user needs is a critical aspect of developing successful software applications.
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-phone-flip text-primary"></i>
                    </div>
                    <div>
                        <h2 class="text-primary">Mobile App Development</h2>
                        <p>Mobile app development is the process of creating software applications that run on mobile devices such as smartphones and tablets. It involves designing, building, testing and deploying apps for iOS, Android or other mobile platforms.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>