.icon-relative{
    display: flex;
    text-align: center;
}
.icon-wrapper {
        font-size: 40px;
        min-width: 80px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid;
        height: 80px;
        line-height: 80px;
}