<app-page-title [title]="'It Solutions'"></app-page-title>

<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12 mb-5">
                <app-section-title titlePreffix="Prominent" titleSuffix="IT Solution"
                    titleAlign="center"></app-section-title>
            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-bar-chart-line text-primary"></i>
                    </div>
                    <div class="content">
                        <h2 class="text-primary">Pure Agile Methodology</h2>
                        <p>Culpa qui officia deserunt molit animid est laborum perspiciatis unde omnis iste natus
                            accusantium
                            dolore.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-bar-chart-line text-primary"></i>
                    </div>
                    <div>
                        <h2 class="text-primary">Global Technology Services</h2>
                        <p>Culpa qui officia deserunt molit animid est laborum perspiciatis unde omnis iste natus
                            accusantium
                            dolore.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-bar-chart-line text-primary"></i>
                    </div>
                    <div>
                        <h2 class="text-primary">Global Technology Services</h2>
                        <p>Culpa qui officia deserunt molit animid est laborum perspiciatis unde omnis iste natus
                            accusantium
                            dolore.</p>
                    </div>

                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-bar-chart-line text-primary"></i>
                    </div>
                    <div>
                        <h2 class="text-primary">Global Technology Services</h2>
                        <p>Culpa qui officia deserunt molit animid est laborum perspiciatis unde omnis iste natus
                            accusantium
                            dolore.</p>
                    </div>

                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-bar-chart-line text-primary"></i>
                    </div>
                    <div>
                        <h2 class="text-primary">Global Technology Services</h2>
                        <p>Culpa qui officia deserunt molit animid est laborum perspiciatis unde omnis iste natus
                            accusantium
                            dolore.</p>
                    </div>

                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-start">
                    <div class="icon-wrapper me-4 bg-secondary border-primary">
                        <i class="bi bi-bar-chart-line text-primary"></i>
                    </div>
                    <div>
                        <h2 class="text-primary">Global Technology Services</h2>
                        <p>Culpa qui officia deserunt molit animid est laborum perspiciatis unde omnis iste natus
                            accusantium
                            dolore.</p>
                    </div>

                </div>
            </div>



        </div>
    </div>

</section>