<div class="main-banner">
    <div class="container h-100 position-relative">
        <div class="h-100 d-flex align-items-center">
            <div class="banner-text w-50 w-sm-100">
                <p class="fs-40 lh-40 text-white">IT <span class="text-primary"> services & solutions </span> <br> that you can trust.</p>
                <p class="fs-3 text-white mt-5">Our wide range of services can be custom tailored to your specific needs to ensure your success.</p>
                <div class="btn-group">
                    <a class="btn btn-primary rounded-5 me-3 btn-lg" routerLink="contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>