.main-banner {
    background-image: url("../../../assets/images/banner.jpeg");
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;
    }
}
.banner-text {
    @media screen and (max-width: 991px) {
        text-align: center;
    }
    // position: absolute;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // justify-items: center;
    // height: 100%;
}

.slider {
    height: 100vh;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
