<app-page-title [title]="'Our Services'" [backgroundImage]="backgroundImage"></app-page-title>
<div class="container my-5">
    <section>
        <div class=" text-center">
            <ul class="servicetext">
                <li>
                    WHAT WE DO
                </li>
            </ul>
            <h3>We Have High Service That Stand</h3>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="bi bi-megaphone-fill icon-size"></i>
                <h4> Product to saltelite</h4>
                <p>We job gives you handcrafted options such as front admin reviews or It also gives It business
                </p>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-bar-chart-line  icon-size"></i>
                <h4>Computer of solution</h4>
                <p>We job gives you handcrafted options such as front admin reviews or It also gives It business</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-laptop  icon-size"></i>
                <h4>Business of solution</h4>
                <p>We job gives you handcrafted options such as front admin reviews or It also gives It business</p>
            </div>


        </div>
    </section>

</div>