<app-banner></app-banner>
<div class="container">
    <section class="section-wrapper">
        <div class="row">
            <div class="col-md-12">
                <app-section-title
                titlePreffix="Working Everytime"
                titleSuffix="For Your Needs"
                titleAlign="center"
                ></app-section-title>
            </div>
            <div class="col-md-4 my-3" *ngFor="let need of yourNeeds; let i = index">
                <app-card-component
                  [icon]="need.icon"
                  [cardTitle]="need.cardTitle"
                  [cardDescription]="need.cardDescription"
                  [index]="(i + 1)"
                ></app-card-component>
            </div>
        </div>
    </section>
   
</div>
<section class="section-wrapper our-services">
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12 mb-5">
                <app-section-title
                titlePreffix="Our"
                titleSuffix="Services"
                titleAlign="center"
                prefixColor="white"
                ></app-section-title>
            </div>
            <div class="col-md-3 mb-5" *ngFor="let service of ourServices">
                <div class="service-box text-center">
                    <div class="icon text-primary fs-1">
                        <i class="bi bi-{{service.icon}}"></i>
                    </div>
                    <h3 class="card-title text-white fs-3 my-3">
                        {{service.name}}
                    </h3>
                    <p class="text-accent">{{service.description}}</p>
                    <a href="javascript:void(0)" [routerLink]="service.routePath">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="section-wrapper our-approach">
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12 mb-5">
                <app-section-title
                titlePreffix="Our"
                titleSuffix="Approach"
                titleAlign="center"
                ></app-section-title>
            </div>
            <div class="col-md-4 mb-5">
                <div class="approach-box">
                    <div class="circle-icon">1</div>
                    <h3>Skills Training</h3>
                    <p>Provide best-in-class training from industry experts, including complementary services such as online coding test preparation and mentoring from industry veterans.</p>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="approach-box">
                    <div class="circle-icon">2</div>
                    <h3>Hands on experience 
                        on live projects </h3>
                    <p>Provides an opportunity to work on live projects and gain experience in end-to-end project development lifecycle, including agile development methodology
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="approach-box">
                    <div class="circle-icon">3</div>
                    <h3>Placement assistance</h3>
                    <p>Assist with CVs and mock interviews to prepare for the  interviews.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="map-section border-top-5 border-primary">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1891.1376605916314!2d73.78289872155686!3d18.561622240085956!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bffa19aff7af%3A0x4c25b72ae1b7b9d6!2sFirst%20Quad%20Tech%20Solutions!5e0!3m2!1sen!2sin!4v1712607415011!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>