<footer class="footer p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex align-items-md-center justify-content-center mb-5">
                <a class="navbar-brand text-white fs-3" routerLink="/">
                    <img src="assets/images/logo-white.png" style="border:0px;" width="200"/>
                </a>
            </div>
            <div class="col-md-3">
                <h4 class="text-accent">Our Services</h4>
                <ul class="text-accent">
                    <li><a href="javascript:void(0)" routerLink="services/it-solutions" class="text-decoration-none text-accent">IT Solutions</a></li>
                    <li><a href="javascript:void(0)" routerLink="services/professional-training" class="text-decoration-none text-accent">Career Mentoring</a></li>
                    <li><a href="javascript:void(0)" routerLink="services/employment-solutions" class="text-decoration-none text-accent">Employment Solutions</a></li>
                    <li><a href="javascript:void(0)" routerLink="services/contract-staffing" class="text-decoration-none text-accent">Contract Staffing</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="text-accent">Quick Links</h4>
                <ul>
                    <li><a href="javascript:void(0)" routerLink="/" class="text-decoration-none text-accent">Home</a></li>
                    <li><a href="javascript:void(0)" routerLink="about"  class="text-decoration-none text-accent">About Us</a></li>
                    <li><a href="javascript:void(0)" routerLink="services" class="text-decoration-none text-accent">Services</a></li>
                    <li><a href="javascript:void(0)" routerLink="contact" class="text-decoration-none text-accent">Contact</a></li>
                    <!-- <li><a href="javascript:void(0)" routerLink="work" class="text-decoration-none text-accent">Work</a></li> -->
                    
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="text-accent">Contact Us</h4>
                <div class="contact d-flex flex-column">
                    <a href="tel:9545971954" class="text-decoration-none text-accent"><i class="bi bi-telephone-fill me-2"></i> +91 9545971954</a>
                    <a href="mailto:firstquadtechsolutions@gmail.com " class="text-decoration-none text-accent"><i class="bi bi-envelope me-2"></i> firstquadtechsolutions@gmail.com </a>
                </div>
                <div class="social-media mt-3">
                    <a href="#" class="linkden icon fs-4 me-2"><i class="bi bi-linkedin"></i></a>
                    <a href="#" class="facebook icon fs-4 mx-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="linkden icon fs-4 mx-2"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>